@charset "uft-8";

/*599이하 헤더 푸터*/


@media (max-width:599px){

    #wrap {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color:black;
        width:100%;
        height:80px;
        border-bottom: 0.5px solid rgba(197, 196, 196, 0.3);
    }

    .logo {
        position: absolute;
        display: flex;
    }

    nav {
        width: 100%;

    }

    nav ul {
        background-color: #000;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 230px;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0px;

    }

    nav>ul>li {
        width: 100%;
        height: 45px;
        text-align: center;
        display: flex;
        align-items: center;

    }

    nav>ul>li>a {
        width: 100%;
        padding: 10px 12px;
        text-align: center;
    }

    nav>ul>li>a:hover {
        background-color: rgb(35, 32, 32);
    }

    .nav_btn {
        color: #eee;
        font-size: 35px;
    }

    .sns {
        display: none;
    }



    /*footer*/

    footer {
        width: 100%;
        height: 800px;
        background-color: black;
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .position {
        width: 60%;
        height: auto;
        font-size: 12px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-weight: 700;

    }

    .position>ul>li {
        float: column;
        margin: 10px;
        padding: 20px;
    }

    .position>ul>li>a {
        color: white;
    }

    #position_iconbox {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-weight: 700;


    }

    #position_iconbox>ul>li>img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 3px;
        right: 2px;
    }

    #position_iconbox>ul>li {
        float: left;
        padding: 10px;
    }



    .e_logo {
        width: 100%;
        height: 50px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-around;
        margin: 10px;
        padding: 20px;

    }

    .e_logo {
        width: 300px;
        height: 200px;
        font-size: 15px;
    }

    .e_logo>p>a {
        color: #eee;
    }

    .e_logo>span>a {
        color: #a4b180;
    }

}